<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Code Snippet Manager</title>
    <link 
     rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/{{.Theme }}.min.css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="styles/index.css" />
    <style>
      pre code.hljs {
        overflow-x: auto;
        padding: 0 1rem 0 0;
      }
      .custom-snippet{
        padding: 1em !important;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="title">Code Snippet Manager</h1>
      <button id="openModalBtn">Create Snippet</button>
      <!-- <div class="toast"></div> -->
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close-icon">&times;</span>
          <form method="POST" action="/snippets">
            <select id="language" name="language" onchange="onSelectLanguage()">
              <option value="">Select language</option>
              <option value="html">HTML</option>
              <option value="css">CSS</option>
              <option value="javascript">Javascript</option>
              <option value="php">PHP</option>
              <option value="ruby">Ruby</option>
              <option value="go">Go</option>
              <option value="rust">Rust</option>
              <option value="java">Java</option>
            </select>
            <textarea
              placeholder="Describe your snippet"
              id="description"
              rows="4"
              name="description"
            ></textarea>

            <div class="editorWrapper">
              <textarea
                name="snippet"
                placeholder="Enter Source Code"
                id="editing"
                spellcheck="false"
                oninput="update(this.value); sync_scroll(this);"
                onscroll="sync_scroll(this);"
                onkeydown="check_tab(this, event);"
              ></textarea>
              <pre id="highlighting" aria-hidden="true">
    <code class="language-" id="highlighting-content">
        </code>
        </pre>
            </div>
            <button type="submit" id="submit">Submit</button>
          </form>
        </div>
      </div>
      <div class="snippetContainer">
        <div class="snippetsWrapper">
          {{range .Snippets}}
          <div class="snippet">
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <p class="language">{{ .Language }}</p>
              <div>
                <i class="fa-solid fa-pen-to-square"></i>
                <i class="fa-solid fa-trash"></i>
                <i class="fa-solid fa-copy" onclick="handleCopy(event)"></i>
              </div>
            </div>
            <pre><code class="language-{{ .Language }} custom-snippet">
{{.Snippet}}
          </code></pre>
          </div>
          {{end}}
        </div>
      </div>
    </div>
    <script>
      hljs.highlightAll();
    </script>
    <script src="js/index.js"></script>
    <script>
      function handleCopy(event){
        const text = event.currentTarget.parentNode.parentNode.parentNode.querySelector('.custom-snippet').innerText;
        navigator.clipboard.writeText(text);
        // show toast
        const toast = document.createElement('div');
        toast.classList.add('toast');
        toast.innerText = 'Copied to clipboard';
        document.body.appendChild(toast);
        setTimeout(() => {
          toast.remove();
        }, 10000);
      };
    </script>
  </body>
</html>