{{ template "header" .}}
    <div class="container">
      <button id="openModalBtn">Create Snippet</button>
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close-icon">&times;</span>
          <form method="POST" action="/snippets">
            <select id="language" name="language" onchange="onSelectLanguage()">
              <option value="">Select language</option>
              <option value="html">HTML</option>
              <option value="css">CSS</option>
              <option value="javascript">Javascript</option>
              <option value="php">PHP</option>
              <option value="ruby">Ruby</option>
              <option value="go">Go</option>
              <option value="rust">Rust</option>
              <option value="java">Java</option>
            </select>
            <textarea
              placeholder="Describe your snippet"
              id="description"
              rows="4"
              name="description"
            ></textarea>

            <div class="editorWrapper">
              <textarea
                name="snippet"
                placeholder="Enter Source Code"
                id="editing"
                spellcheck="false"
                oninput="update(this.value); sync_scroll(this);"
                onscroll="sync_scroll(this);"
                onkeydown="check_tab(this, event);"
              ></textarea>
              <pre id="highlighting" aria-hidden="true">
      <code class="language-" id="highlighting-content">
        </code>
        </pre>
            </div>
            <button type="submit" id="submit">Submit</button>
          </form>
        </div>
      </div>
      <div class="snippetContainer">
        <div class="snippetsWrapper">
          {{range .Snippets}}
          <div class="snippet">
            <div class="snippet-header">
              <p class="language">{{ .Language }}</p>
              <div>
                <i class="fa-solid fa-pen-to-square"></i>
                <i class="fa-solid fa-trash" data-snippetid="{{ .ID }}" onclick="onDelete(event)"></i>
                <i class="fa-solid fa-copy" onclick="handleCopy(event)"></i>
              </div>
              <!-- <div class="snippet-description" id="snippet-description">
                {{ .Description }}
              </div> -->
            </div>
            
            <pre><code class="language-{{ .Language }} custom-snippet">
{{.Snippet}}
          </code></pre>
          </div>
          {{end}}
        </div>
      </div>
    </div>
    {{ template "footer" .}}