
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

.container {
  width: 1400px;
  margin: 0 auto;
  padding: 40px 0;
}
.title {
  font-size: 3rem;
  margin: 40px 0;
  text-align: center;
}

.snippetContainer {
  margin-top: 20px;
}
.snippetsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  padding: 60px 20px 0px 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  height: 500px;
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
form {
  position: relative;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #000;
}

select {
  width: 100%;
  padding: 10px 5px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  color: #7b7b7b;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: #272822;
}
select option {
  color: #fff;
  font-size: 12px;
}

button {
  background-color: #06b874;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
button#submit {
  position: absolute;
  top: 100%;
  margin-top: 20px;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #858383;
  transition: color 0.3s ease;
}
.close-icon:hover {
  color: #06b874;
}

.language {
  margin-bottom: 7px;
  text-transform: capitalize;
}

.editorWrapper{
  height: 200px;
  background-color: #272822;
  margin-top: 20px;
  border-radius: 4px;
}
#editing,
#highlighting {
  padding: 10px;
  border: 0;
  margin: 0px;
  width: 100%;
  height: 200px;
  border: none;
  outline: none;
}
#editing,
#highlighting,
#highlighting * {
  line-height: 1.5;
  tab-size: 2;
  font-family: "Fira Code", monospace;
}

#editing,
#highlighting {
  position: absolute;
  top: 45%;
  left: 0;
}
#highlighting-content{
  background-color: #272822;
  border-radius: 4px;
}
#editing {
  z-index: 1;
}
#highlighting {
  z-index: 0;
}

#editing {
  color: transparent;
  background: transparent;
  caret-color: white;
}

#editing,
#highlighting {
  overflow: auto;
  white-space: nowrap;
}

#editing {
  resize: none;
}

p code {
  border-radius: 2px;
  background-color: #eee;
  color: #111;
}

code[class*="language-"],
pre[class*="language-"] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  padding: 0.4em 0.8em;
  margin: 0.5em 0;
  overflow: auto;
  /* background-color: #272822; */
}

code[class*="language-"] {
  /* background-color: #272822; */
  color: white;
}

:not(pre) > code[class*="language-"] {
  padding: 0.2em;
  border-radius: 0.3em;
  box-shadow: none;
  white-space: normal;
}

pre.diff-highlight.diff-highlight > code .token.deleted:not(.prefix),
pre > code.diff-highlight.diff-highlight .token.deleted:not(.prefix) {
  background-color: rgba(255, 0, 0, 0.3);
  display: inline;
}

pre.diff-highlight.diff-highlight > code .token.inserted:not(.prefix),
pre > code.diff-highlight.diff-highlight .token.inserted:not(.prefix) {
  background-color: rgba(0, 255, 128, 0.3);
  display: inline;
}

pre {
  word-wrap: normal;
  height: 200px;
  overflow: auto;
  border-radius: 4px;
}

code {
  border-radius: 4px;
  font-family: "Fira Code", monospace;
}
#description {
  resize: none;
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #aaa;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: #272822;
}
.fa-solid{
  cursor: pointer !important;
  color: #06b874;
}
.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1dbd75;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  animation: toast 0.3s ease;
  color:#fff;
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.snippet {
  font-family: "Fira Code", monospace;
  width: 450px;
  height: 250px;
  overflow: hidden !important;
  font-size: 12px;
  position: relative;
  z-index: 0;
}

.snippet-header{
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}
.snippet-description{
  position: absolute;
  bottom: 90.5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}
.snippet:hover .snippet-description{
  background-color: #1dbd75;
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}