.confirmButton{
  background-color: #06b874;
  border: none;
  outline: none;
  margin-right: 1rem;
}
.confirmButton:hover{
  background-color: #06b874;
}
.cancelButton{
  background-color: rgb(141, 140, 140);
}
.cancelButton:hover{
  background-color: #8e8d8d;
}